*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 45px;
    text-align: center;
    margin: 40px;
}

section {
    display: grid;
    grid-template-columns: 65px repeat(10, 30px);
    grid-template-rows: 65px repeat(10, 30px); 
}

section div {
    border: 1px solid black;
}

#clickable-board {
    display: grid;
    grid-template-columns: 65px repeat(10, 30px);
    grid-template-rows: 65px repeat(10, 30px); 
}

#clickable-board div {
    
}

/* table {
    text-align: center;
    width: 33%;
    border: 4px solid red;
}

td {
    width: 100%;
    border: 2px solid red;
}

div {
    padding: 4px;
    display: inline-block;
    height: 100%;
} 

section {
    display: grid;
    grid-template-columns: 60px repeat(10, 30px);
    grid-template-rows: 60px repeat(10, 30px); 
      text-align:center; 
        table-layout: fixed;
        margin-left:auto; 
        margin-right:auto; 
        border-collapse: collapse; 
    width:100%; 
    margin:10px auto; 
}

tr,td {
      text-align:left;
      border: 1px solid black;
} 

td {
    width: 30px;
    height: 30px;
    padding: 0;
}

.keyLeft {
    vertical-align: center;
    text-align: right;
    font-weight: bolder;
    width: 60px;
} */