*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 45px;
    text-align: center;
    margin: 40px;
}

section {
    display: grid;
    grid-template-columns: 65px repeat(10, 30px);
    grid-template-rows: 65px repeat(10, 30px); 
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section div {
    border: 1px solid black;
}

#gameBoard {
    display: grid;
    grid-template-columns: 65px repeat(10, 30px);
    grid-template-rows: 65px repeat(10, 30px); 
}

